
#html{
    width: 100%;
    height:100%;
}
#page,html{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: #ccccff;
    flex-direction: column;
}
#header{
    width: 100%;
    height:30%;    
    text-align: center;  
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: extra-expanded;
    font-family: futura;
    color: red;
}

.sticky_header{
    display: flex; 
    flex-direction: column;    
    position: fixed; 
    top: 0; left: 0;
    width: 100%;
    height: available;
    background-color: #ccccff;
}
#body{
    display: flex;
    flex-direction: column;    
    width: 100%;
    height: 60%;
    padding: 200px 0px 100px 0px;
}
#center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}
#center_top{
    display: flex;
    margin: auto;
    max-width: 30%;
}
#center_top_nav{
    display: flex;
    margin: auto;
    max-width: 30%;
    padding-left: 5%;
    padding-right: 5%;
}
#center_top_wide{
    display: flex;
    margin: auto;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
#center_bottom{
    max-width: 70%;
    margin: auto;
}
#center_top_vertical{
    display: flex;
    justify-content: space-around;
    flex-direction: column;  
    margin: auto;
}
#center_top_horizontal{
    display: flex;
    justify-content: center;
    flex-direction: row;  
    margin: auto;
}

#messages_temp_top{
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#messages_temp_bottom{
    background-color: lightgrey;
    width: 100%;
    height: available;
    padding-top: 5px;
    padding-bottom: 5px;
}

.input_fields{
    margin: auto;
    padding: 5px 0px 5px 0px;
    width: 100%; 
    font-size: 16px;
    color: #0066ff;
    font-weight: 500;     
    margin-top: 5px;
    margin-bottom: 5px;
}
.input_fields:focus{
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: #ff0000;
    border-collapse: collapse;   
    font-size: 18px;
    color: red;
    font-weight: 400;
}

.input_fields_small{
    margin: auto;
    padding: 5px 0px 5px 0px;
    width: 100%; 
    font-size: 14px;
    color: #0066ff;
    font-weight: 500;     
    margin-top: 5px;
    margin-bottom: 5px;
}
.input_fields_small:focus{
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: #ff0000;
    border-collapse: collapse;   
    font-size: 18px;
    color: red;
    font-weight: 400;
}
.output_fields_small{
    margin: auto;
    padding: 5px 0px 5px 0px;
    width: 100%; 
    font-size: 18px;
    color: #333333;
    font-weight: 500;     
    margin-top: 5px;
    margin-bottom: 5px;
}

.output_fields_cash{
    margin: auto;
    padding: 5px 0px 5px 0px;
    width: 100%; 
    font-size: 18px;
    color: blue;
    font-weight: 500;     
    margin-top: 5px;
    margin-bottom: 5px;
}
.output_fields_small_diff{
    margin: auto;
    padding: 5px 0px 5px 0px;
    font-size: 18px;
    color: darkred;
    font-weight: 400;     
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}
.radio_buttons{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    font-size: 15px;
    color: #ff6666;
    font-weight: 500;     
    margin-top: 2%;
    margin-bottom: 2%;
    white-space: nowrap;
}
#txt_idno,#txt_pinno{
    background-color: #0000ff;
}
#scroll_it{
    overflow: scroll;
    width: 100%;
    max-height: 300px;
    min-height: 300px;   
}
#scroll_it_wide{
    margin: auto;
    overflow: scroll;
    width: available;
    max-height: 100%;
    min-height: 300px;   
}

#line-seperator{
    height: 1px;
    background: #ff0000;
    border-top : 5px solid #ccccff;    
    border-bottom:  5px solid #ccccff;
}
#line-seperator_vertical{
    width: 1px;
    background: antiquewhite;
    height: 100%;
    border: 5px ridge #ccccff;
    border-radius: 2px;
}
#line-seperator-inside{
    height: 2px;
    background: antiquewhite;
    border-top: 5px solid #ccccff;
    border-bottom: 5px solid #ccccff;
}
#line-seperator-transparent{
    height: 1px;
    background: transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
h0{
    font-size: 12px;
    font-family: futura;
    font-weight: bold;
    text-orientation: upright;
    color: sienna;
    font-stretch: extra-expanded;
    padding: 30px;
    text-align: justify;
}
h1{
    font-family: futura;
    font-weight: bold;
    font-stretch: extra-condensed;
}

h3{
    color: blueviolet;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    font-stretch: extra-condensed;
    text-align: right;
    padding-left: 10%;
    padding-right: 10%;
}
msg{    
    text-justify: kashida; 
    color: #ff0000; 
    font-size: large;
    font-stretch: extra-condensed;
    text-align: justify;
}
.error_warning{
    text-justify: kashida; 
    color: #ff0000; 
    font-size: small;
    font-stretch: extra-expanded;
    text-align: justify;
}
.logout_msgs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: medium;
}
#buttons_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}
#buttons_vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.bt_pimp{
    background-color: transparent;
    border: none;
    color: #ff0000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Courier New;
    font-size: 20px;
    font-weight: 700;  
    transition-duration: 0.5s;
    margin: 5px;
}
.bt_pimp:hover {
    background-color: transparent;
    color: darkorchid;
    box-shadow: 0 20px 17px 0 rgba(0,0,0,0.24), 0 15px 10px 0 rgba(0,0,0,0.19);
    border-radius: 50%;
    text-decoration: transparent double underline;
}
.next_prev{
    background-color: transparent;
    border: none;
    color: brown;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-family: Courier New;
    font-size: 20px;
    font-weight:  500;  
    transition-duration: 0.5s;
    margin: 1px;
}
.first_last{
    background-color: transparent;
    border: none;
    color: red;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-family: Courier New;
    font-size: 20px;
    font-weight: 700;  
    transition-duration: 0.5s;
    margin: 1px;
}
.next_prev:hover,.first_last:hover{
    background-color: transparent;
    border-radius: 10%;
    font-size: 22px;
    text-decoration: transparent solid cancel-overline;
}
/*#my_table{
    border-collapse: collapse;
    border: 1px solid black;
}*/
.my_table_header{
    text-align: right;
    color: red;
    background: navajowhite;
    border-top:  1px solid #ff6666;
    border-bottom: 1px solid #ff6666;
    padding: 5px;    
    overflow-x:auto;
    white-space: nowrap;
}
.my_table_rows_odd{
    text-align: left;
    background: #cccccc;
    border: 1px solid brown;
}
.my_table_rows_even{
    text-align: left;
    background: #ffffff;
    border: 1px solid aqua;
}
.my_table_rows_even,.my_table_rows_odd{
    padding: 15px;
    white-space: nowrap;
}
.my_table_rows_even:hover,.my_table_rows_odd:hover {
    background-color: red;
    border-bottom: 5px;
    border-top: 5px;
}
del{
    color: red;
    border-top:  2px solid red;
    border-bottom: 2px solid red;
}

load{
    color: green;
    border-top:  2px solid yellowgreen;
    border-bottom: 2px solid yellowgreen;

}

del, load{
    white-space: nowrap;
    font-size: 14px;
    text-align: center;
}
#footer{    
    position: fixed;
    bottom:0;
    left: 0;right: 0;bottom: 0;
    height: 10%;    
    width: 100%;

    text-align: right;
    background-color: #ccccff;
}
.default{
    width: 100%;
    height: 20%;
}





nav{
    background: #ff9999;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav li{
    flex-direction: row; flex: 1 1 0;
    text-decoration: none;
}
nav a{
    text-decoration: none;
    text-align: center;
    justify-content: space-around;  
}

nav a:hover{
    background-color: gainsboro;
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    #header{
        width: 100%;  
        text-align: center;  
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: extra-expanded;
        font-family: futura;
        color: red;
    }
    .sticky_header{
        display: flex; 
        flex-direction: column;  
        top: 0; left: 0;
        width: 100%;
        background-color: #ccccff;
    }
    #body{
        display: flex;
        flex-direction: column;    
        width: 100%;
        height: 100%;
    }

    #footer{    
        bottom:0;
        left: 0;right: 0;bottom: 0;
        width: 100%;
        text-align: right;
        background-color: #ccccff;
    } 
    nav li{
        flex-direction: column;
        flex: 1 1 0;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    nav a{
        text-align: left;
        color: #0000ff;
        display: block;
        margin-left: 0;
        padding: 1px 0 1px 0;
    }
    .logout_msgs{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 5px;
        font-size: medium;
    }
}
